@font-face {
  font-family: "BMJUA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}


.back_bottom{
	background-image: url("/asset/image/list/detail_back.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
	


	.contents_1 {
	  width: 100%;
	
	  .contents_1_text {
		li:nth-of-type(1) {
		  font-family: "BMJUA";
		  font-size: 2.4rem;
		  font-weight: 400;
		}
	
		li:nth-of-type(1)::before {
		  content: "#";
		}
	
		li:nth-of-type(2) {
		  display: flex;
		  justify-content: space-between;
	
		  p:nth-of-type(1) {
			width: 80%;
			font-size: 2.4rem;
			font-weight: 600;
			margin: 10px 0 20px 0;
	
	
			> span {
			  font-size: 2.4rem;
			  font-weight: 400;
			  color: #979797;
			}
		  }
	
		  p:nth-of-type(2) {
			width: 20%;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			font-size: 2rem;
			font-weight: 500;
			> button {
			  width: 30px;
			}
		  }
		}
		li:nth-last-of-type(1){
			display: flex;
			flex-wrap: wrap;
		}
	  }
	
	  .contents_1_detail_img {
		width: 100%;
		margin-bottom: 5%;
	
		img {
		  width: 100%;
		  border-radius: 30px;
		}
	  }
	}

	.contents_1_address_back {
	  /*   background-image: url("/asset/image/list/detail_back.png");
	  background-repeat: no-repeat;
	  background-size: 100%;
	  background-position: center; */
	  position: relative;
	  width: 100%;
	
	  .contents_1_address {
		li {
		  width: 100%;
		  display: flex;
		  font-size: 2rem;
		  font-weight: 400;
		  margin-bottom: 2%;
		  > div {
			width: 120px;
			display: flex;
			> div {
				width: 20%;
				height: 20%;
				margin-right: 15px;
			}
			img {
				width: 100%;
			}
	
			p {
			  width: 100%;
			}
		  }
		  p{
			width: 80%;
		  }
		}
	
		li:nth-of-type(4) {
		  span {
			border-radius: 20px;
			background: rgba(255, 255, 255, 0.6);
			margin-right: 2%;
			padding: 1% 2%;
		  }
	
		  span::before {
			content: "#";
			width: 100%;
		  }
	
		  span:nth-of-type(1) {
			padding-left: 0;
		  }
		}
	  }
	}

}


/* .contents_1_address_back::after {
  content: url("/asset/image/list/detail_back.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -10;
  width: 100%;
}
 */